

.Form-container{
    border: 3px solid rgba(2, 2, 31, 0.773);
    display: flex;
    justify-content: center ;
  background-color: black;
  
    
}
.form{
    font-family: sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
    background: rgba(49, 49, 84, 0.581);
    text-indent: 20px;
    color: white;
    margin: 200px;
    
}
.form > input{
    height: 40px;
    margin: 0px 20px 30px 20px;
    text-indent: 15px;
    border-radius: 10px;
    border-color: transparent;
    color: white;
}
.input{
    background-color: rgba(57, 58, 81, 0.841);
}
.submit{
    background-color: rgb(16, 115, 202);
}
