*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::placeholder{
  color: rgba(255, 228, 196, 0.568);
}

.body{
    background-image: url(WEATHER1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.city{
    width: 470px;
    height: 56px;
    background-color: transparent;
    outline: none;
    border: transparent;
    font-size: 25px;
    text-indent: 20px;
    color: rgb(223, 223, 223);
    
}

.text{
    color:aqua;
    font-weight: 900;
    font-size: 40px;
}

.container{
    margin: auto;
    width: 51%;
    margin-top: 300px;
}

.btn{
    padding: 15px;
    width: 90px;
    margin-bottom: 4px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid transparent;
}

.txt2{
   font-size: 20px;
   margin-bottom: 10px;
}

.input{
  background-color: rgba(255, 255, 255, 0.348);
  border: 0px solid;
  width: 571px;
  margin-left: 153px;
  margin-top: 30px;
  border-radius: 10px;
}

.btn:hover{
   transition: 0.3s ease-in-out;
   background-color: rgba(76, 76, 76, 0.612);
   color: white;
}
